<div id="items_header">
  <h1> Menu Items </h1>
</div>
<%= render "shared/back_button" %>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="item">
      <h4 class="form-title"> Create New Item </h4>
        <%= bootstrap_form_for(@item, style: :inline, url: items_path, html: {multipart: true}) do |f| %>
          <%= f.text_field :title %>
          <%= f.text_field :price %>
          <%= f.text_field :description %>
          <%= f.label :image, 'Attach an Image' %><br />
          <%= f.file_field :image %>
          <%= f.collection_select(:categories, Category.all, :id, :name, {}, {:multiple => true}) %>
          <%= f.submit "Create Item" %>
        <% end %>
    </div>
  </div>
</div>

<div class="row">
  <% @items.each do |item| %>
  <div class="box col-lg-3">
    <h4 class="item-title"> <%= link_to("#{item.title}", item_path(item))%></h4>
    <div class="thumbnail">
      <%= image_tag item.image.url %>
    </div>
    <h5 class="item-desc"><%= item.description %></h5>
    <%= "<h5>Retired</h5>" if item.retired %>

    <table>
      <thead>
      <th>
        <div class="item_edit">
        <a class="btn btn-default", style=inline, href=<%=edit_admin_item_path(item)%>>
          <i class="fa fa-pencil-square-o"></i>Edit</a>
      </div>
    </th>
    <th>
      <div class="item_delete">
        <a class="btn btn-default", style=inline, href=<%=admin_item_path(item)%> >
          <i class="fa fa-trash-o"></i>Delete</a>
      </div>
    </div>
  </th>
  <th>
    <div class="retire-btn">
      <%= form_for :retire, url: admin_item_path(item), method: "put" do |f| %>
      <div id="true"><%= f.select "status_#{item.id}", options_for_select([['true'], ['false']])%></div>
      <%= f.submit 'Retire', class: "btn btn-default btn-update-quantity" %>
      <% end %>
    </div>
  </th>
  </thead>
</table>
    </div>
    <% end %>
  </div>
</div>
