<%= render "shared/back_button" %>
<div id="admin_header">
  <h1><%= @tenant.organization %>'s Dashboard</h1>
</div>

<div id="projects">
  <table class='table table-bordered'>
    <thead>
      <tr class="warning">
        <th data-field='Project'> Project </th>
        <th data-field='Price'>Total Cost</th>
        <th data-field='retired'>Status</th>
        <th data-field='time'>Status As Of</th>
        <th data-field='time'>Submitted At</th>
      </tr>
    </thead>
    <% @tenant.projects.each do |project| %>
      <tr>
        <td><%= link_to("#{project.title}", project_path(id: project.id)) %></td>
        <td><%= project.formatted_dollar_amount %></td>
        <td><%= project.retired %></td>
        <td><%= project.updated_at.strftime("%b %d, %Y, %I:%M") %></td>
        <td><%= project.created_at.strftime("%b %d, %Y, %I:%M") %></td>
      </tr>
    <% end %>
  </table>
</div>
