<div id="orders_header">
  <h1>Orders</h1>
</div>

<div class="status-row">
  <%= render "shared/back_button" %>
  <% sort_status = %w(#paid #cancelled #ordered #completed) %>
  <% sort_status.each do |status| %>
  <a class="btn" href="<%= status %>">
    <i class="fa fa-sort-desc fa-3x"><br>
    </i>  <%= status %></a>
  <% end %>
</div>

<div class="admin-order-table">
  <div id="ordered">
  <h4> Ordered (<%= Order.ordered.count %>) </h4>
  <table class='table table-bordered'>
    <%= render 'shared/order_table_header' %>
      <% Order.ordered.each do |order| %>
      <%= render partial: "shared/status_table", :locals => {order: order}%>
      <% end %>
  </table>
  </div>
</div>

<div class="admin-order-table">
 <div id="completed">
  <h4> Completed (<%= Order.complete.count %>) </h4>
  <table class='table table-bordered'>
    <%= render 'shared/order_table_header' %>
      <% Order.complete.each do |order| %>
        <%= render partial: "shared/status_table", :locals => {order: order}%>
      <% end %>
  </table>
  </div>
</div>

<div class="admin-order-table">
  <div id="paid">
<h4> Paid (<%= Order.paid.count %>) </h4>
  <table class='table table-bordered'>
    <%= render 'shared/order_table_header' %>
      <% Order.paid.each do |order| %>
        <%= render partial: "shared/status_table", :locals => {order: order}%>
      <% end %>
  </table>
  </div>
</div>

<div class="admin-order-table">
  <div id="cancelled">
<h4> Cancelled (<%= Order.cancelled.count %>) </h4>
  <table class='table table-bordered'>
    <%= render 'shared/order_table_header' %>
    <div id="cancelled">
      <% Order.cancelled.each do |order| %>
        <%= render partial: "shared/status_table", :locals => {order: order}%>
      <% end %>
  </table>
  </div>
</div>
