<div id="orders_header">
  <h1>Orders</h1>
</div>
<%= render "shared/back_button" %>


<div class="status-row">
  <% sort_status = %w(#paid #cancelled #ordered #cancelled) %>
  <% sort_status.each do |status| %>
  <a class="btn" href="<%= status %>">
    <i class="fa fa-sort-desc fa-3x"><br>
    </i>  <%= status %></a>
    <% end %>
</div>


  <% @users.each do |user| %>
  <% user.orders.each do |order| %>
  <% if order.status == "completed" %>
    <div id="completed">
      <h4> Completed </h4>
      <%= render partial: "shared/status_table", :locals => {user: user, order: order}%>
    </div>
  <% elsif order.status == "paid" %>
  <div id="paid">
    <h4> Paid </h4>
    <%= render partial: "shared/status_table", :locals => {user: user, order: order}%>
  </div>
  <% elsif order.status == "ordered" %>
  <div id="ordered">
    <h4> Ordered </h4>
    <%= render partial: "shared/status_table", :locals => {user: user, order: order}%>
  </div>
  <% else %>
  <div id="cancelled">
    <h4> Cancelled </h4>
    <%= render partial: "shared/status_table", :locals => {user: user, order: order}%>
  </div>
  <% end %>
  <% end %>
  <% end %>
