<div id="title">
  <h1><%= @tenant.organization.upcase %></h1>
</div>
<div class="row">
  <% @tenant.projects.each do |project| %>
    <div class="box col-lg-3">
      <h4 class="project-title"> <%= link_to("#{project.title}", tenant_project_path(slug: @tenant.slug, id: project.id))%></h4>

      <%= div_for(project, class: "photo") do %>
        <%= image_tag project.image_url, width: "250px", height: "auto" %>
      <% end %>

      <h5 class="project-desc"><%= project.description %></h5>
      <% project.categories.each do |category| %>
        <div class="project-category"><%= link_to("#{category.name}", projects_path) %></div>
      <% end %>

      <%= render 'shared/lend_button', project: project %>

    </div>
  <% end %>
</div>

<%= will_paginate %>
