<div id="title"><h1><%= @project.title %></h1></div>

<%= render "shared/back_button" %>

<%= image_tag "#" %>
<h2><%= "RETIRED ITEM" if @project.retired %></h2>
<div id="description"><%= @project.description %></div>
<div id="price"><%= number_to_currency @project.price / 100 %></div>
<div id="repayment-rate">Repayment Rate: <%= @project.repayment_rate %></div>
<div id="requested-by">Requested by: <%= @project.requested_by %></div>
<div id="repayment-begin">Repayment begins: <%= @project.repayment_begin %>
</div>
<div id="lend-form">
  <% unless @project.retired %>
    <%= form_for :pending_loan, url: pending_loan_path do |f| %>
    <%= f.hidden_field :project_id, value: @project.id %>
    <%= f.hidden_field :loan_amount, value: @project.price %>
    <%= f.submit 'Lend', class: "btn btn-default" %>
    <% end %>
  <% end %>
</div>
<h4><%= @project.tenant.organization %>, <%= @project.tenant.location %></h4>
<h4><% @project.categories.each do |category| %>
  <div class="project-category">
    <%= link_to "#{category.name}", projects_path %>
  </div>
<% end %></h4>
