<h1>Signup Page</h1>

<div id="signup" class="col-md-4 col-md-offset-4">
  <%= form_for :signup, url: users_path do |f| %>
    <%= f.text_field :username, :placeholder => 'username', class: "form-control" %><br>
    <%= f.text_field :first_name, :placeholder => 'first name', class: "form-control" %><br>
    <%= f.text_field :last_name, :placeholder => 'last name', class: "form-control" %><br>
    <%= f.text_field :street, :placeholder => 'street', class: "form-control" %><br>
    <%= f.text_field :city, :placeholder => 'city', class: "form-control" %><br>
    <%= f.text_field :state, :placeholder => 'state', class: "form-control" %><br>
    <%= f.text_field :zipcode, :placeholder => 'zipcode', class: "form-control" %><br>
    <%= f.text_field :country, :placeholder => 'country', class: "form-control" %><br>
    <%= f.password_field :password, :placeholder => 'password', class: "form-control" %><br>
    <%= f.password_field :password_confirmation, :placeholder => 'confirm password',  class: "form-control" %><br>
    <%= f.email_field :email, :placeholder => 'email', class: "form-control" %><br>
    <%= f.check_box (:borrower) %>
    <%= f.label :borrower, "I want to raise money." %><br><br>
  <%= f.submit 'Create Account' %>
  <% end %>
</div>
