<div id="username"><h1><%= current_user.username %></h1></div>
<div id="name"><%= current_user.first_name %> <%= current_user.last_name %></div>
<div id="email"><%= current_user.email %></div>
<div id="credit-card"><%= current_user.credit_card_info %></div>
<div id="street"><%= current_user.street %></div>
<div id="city"><%= current_user.city %></div>
<div id="state"><%= current_user.state %></div>
<div id="zipcode"><%= current_user.zipcode %></div>
<div id="country"><%= current_user.country %></div>
<%= link_to "Edit Profile", edit_user_path, class: "btn btn-small btn-success" %>
