<h1>Pending Loans</h1>

<div id="pending_loans">
  <table class="table table-bordered">
    <thead>
      <tr class="warning">
        <th data-field="organization-name">Organization</th>
        <th data-field="project-title">Project</th>
        <th data-field="funds-needed">Funds needed</th>
        <th data-field="loan-amount">Your loan</th>
        <th data-field="update-loan">Update loan Amount</th>
        <th data-field="delete-item">Delete Item</th>
      </tr>
    </thead>
    <% if @pending_loans.empty? %>
      <tr><td colspan="6">You Have No Pending Loans</td></tr>
    <% else %>
      <% @pending_loans.each do |project, loan_amount| %>
        <tr id=<%= "project_#{project.id}" %>>
          <td><%= project.tenant.organization %></td>
          <td><%= link_to project.title, tenant_project_path(slug: project.tenant.slug, id: project.id) %></td>
          <td id=<%= "funds_needed_#{project.id}" %>><%= number_to_currency project.current_amount_needed / 100.00 %></td>
          <td id=<%= "amount_#{project.id}" %>><%= number_to_currency loan_amount.to_i / 100.00 %></td>
          <td>
            <div style="float: right;">
              <%= form_for :pending_loan, url: update_loan_amount_path do |f| %>
                <input name="_method" type="hidden" />
                <%= f.text_field :loan_dollar_amount, class: "form-control", style: "width: 60px; display: inline;" %>
                <%= f.hidden_field :project_id, :value => project.id %>
                <%= f.submit "Change amount", class: "btn btn-default", style: "display: inline; width: 150px;" %>
              <% end %>
            </div>
          </td>
          <td>
            <div style="clear: both; float: right;">
              <%= form_for :pending_loan, url: delete_pending_loan_path do |f| %>
                <input name="_method" type="hidden" value="delete_one" />
                <%= f.hidden_field :project_id, :value => project.id %>
                <%= f.submit "Delete", class: "btn btn-default", style: "float: left; width: 150px;" %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <% unless @pending_loans.empty? %>
    <h3>Order Total: <%= pending_loans.formatted_pending_total %><h3>
    <div style="float: right;">
      <% if current_user %>
        <%= form_for :cart, url: user_orders_path(user_id: current_user.id) do |f| %>
          <%= f.submit "Checkout", class: "btn btn-default", style: "width: 150px;" %>
        <% end %>
      <% else %>
        <%= link_to "Checkout", new_user_path(message: "You Must Signup or Login to Lend Money"), class: "btn btn-default", style: "width: 150px;" %>
      <% end %ro>

      <%= form_for :cart, url: pending_loan_path do |f| %>
        <input name="_method" type="hidden" value="delete" />
        <%= f.submit "Empty Cart", class: "btn btn-default", style: "width: 150px;" %>
      <% end %>
    </div>
  <% end %>
</div>
