<h1>Pending Loans</h1>

<div id="pending_loans">
  <table class="table table-bordered">
    <thead>
      <tr class="warning">
        <th data-field="Organization Name">Organization Name</th>
        <th data-field="Purpose">Purpose</th>
        <th data-field="Amount">Amount</th>
        <th></th>
      </tr>
    </thead>
    <% if @pending_loans.empty? %>
      <tr><td colspan="6">You Have No Pending Loans</td></tr>
    <% else %>
      <% @pending_loans.each do |project, loan_amount| %>
        <tr id=<%= "project_#{project.id}" %>>
          <td><%= project.tenant.organization %></td>
          <td><%= link_to project.title, tenant_project_path(slug: project.tenant.slug, id: project.id) %></td>
          <td id=<%= "quantity_#{project.id}" %>><%= number_to_currency loan_amount.to_i / 100 %></td>
          <td>
            <%= form_for :pending_loan, url: pending_loan_path do |f| %>
              <input name="_method" type="hidden" value="patch" />
              <%= f.hidden_field :project_id, :value => project.id %>
              <%= f.submit "Delete", class: "btn btn-default btn-delete-cart-project" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>

  <% if current_user %>
    <%= form_for :cart, url: user_orders_path(user_id: current_user.id) do |f| %>
      <%= f.submit "Checkout", class: "btn btn-default" %>
    <% end %>
  <% else %>
    <%= link_to "Checkout", new_user_path(message: "You Must Signup or Login to Lend Money"), class: "btn btn-default" %>
  <% end %>

  <%= form_for :cart, url: pending_loan_path do |f| %>
    <input name="_method" type="hidden" value="delete" />
    <%= f.submit "Empty Cart", class: "btn btn-default" %>
  <% end %>
</div>
