<h1>Pending Loans</h1>
<%= render "shared/back_button" %>

<div id="pending_loans">
  <table class='table table-bordered'>
    <thead>
      <tr class="warning">
        <th data-field='Organization Name'>Organization Name</th>
        <th data-field='Purpose'>Purpose</th>
        <th data-field='Amount'>Amount</th>
        <th></th>
      </tr>
    </thead>
    <% if @pending_loans.empty? %>
      <tr><td colspan='6'>You Have No Pending Loans</td></tr>
    <% else %>
      <% @pending_loans.each do |project, loan_amount| %>
        <tr id=<%= "project_#{project.id}" %>>
          <td><%= project.tenant.organization %></td>
          <td><%= link_to project.title, tenant_project_path(slug: project.tenant.organization, id: project.id) %></td>
          <td id=<%= "quantity_#{project.id}" %>><%= loan_amount %></td>
          <td>
            <%= form_for :pending_loan, url: pending_loan_path do |f| %>
              <input name="_method" type="hidden" value="delete" />
              <%= f.hidden_field :project_id, :value => project.id %>
              <%= f.submit 'Delete', class: "btn btn-default btn-delete-cart-project" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>

  <%= form_for :checkout_pending_loans, url: checkout_pending_loans_path do |f| %>
    <%= f.submit 'Checkout', class: 'btn btn-default' %>
  <% end %>

  <%= form_for :pending_loan, url: pending_loans_path do |f| %>
    <input name="_method" type="hidden" value="delete" />
    <%= f.submit 'Empty Cart', class: 'btn btn-default' %>
  <% end %>
</div>
