<tr>
  <td><%= link_to("#{order.user.first_name}'s Order #{order.id}", user_order_path(order.user, order)) %></td>
  <td><%= number_to_currency order.total_cost/100 %></td>
  <td><%= order.status %></td>
  <td><%= order.created_at.strftime("%b %d, %Y") %></td>
  <td>
    <%= form_for :update_order_status, url: admin_order_path(order) do |f| %>
      <%= f.select "status_#{order.id}", options_for_select(["#{order.status}",['completed'], ['paid'],
                                                ['cancelled'], ['ordered']])%>
      <input name="_method" type="hidden" value="put" />
      <%= f.submit 'Update Status', class: "btn btn-default btn-update-quantity" %>
    <% end %>
  </td>
</tr>
