<div id="projects_header">
  <h1> Menu Projects </h1>
</div>
<%= render "shared/back_button" %>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="project">
      <h4 class="form-title"> Create New Project </h4>
        <%= bootstrap_form_for(@project, style: :inline, url: projects_path, html: {multipart: true}) do |f| %>
          <%= f.text_field :title %>
          <%= f.text_field :price %>
          <%= f.text_field :description %>
          <%= f.label :image, 'Attach an Image' %><br />
          <%= f.file_field :image %>
          <%= f.collection_select(:categories, Category.all, :id, :name, {}, {:multiple => true}) %>
          <%= f.submit "Create Project" %>
        <% end %>
    </div>
  </div>
</div>

<div class="row">
  <% @projects.each do |project| %>
  <div class="box col-lg-3">
    <h4 class="project-title"> <%= link_to("#{project.title}", tenant_project_path(project))%></h4>
    <div class="thumbnail">
      <%= image_tag project.image.url %>
    </div>
    <h5 class="project-desc"><%= project.description %></h5>
    <%= "<h5>Retired</h5>" if project.retired %>

    <table>
      <thead>
      <th>
        <div class="project_edit">
        <a class="btn btn-default", style=inline, href=<%=edit_admin_tenant_project_path(project)%>>
          <i class="fa fa-pencil-square-o"></i>Edit</a>
      </div>
    </th>
    <th>
      <div class="project_delete">
        <a class="btn btn-default", style=inline, href=<%=admin_tenant_project_path(project)%> >
          <i class="fa fa-trash-o"></i>Delete</a>
      </div>
    </div>
  </th>
  <th>
    <div class="retire-btn">
      <%= form_for :retire, url: admin_tenant_project_path(project), method: "put" do |f| %>
      <div id="true"><%= f.select "status_#{project.id}", options_for_select([['true'], ['false']])%></div>
      <%= f.submit 'Retire', class: "btn btn-default btn-update-quantity" %>
      <% end %>
    </div>
  </th>
  </thead>
</table>
    </div>
    <% end %>
  </div>
</div>
