<div id="alert">
  <%= flash[:alert] %>
</div>

<div>
  <h1><%= "Order #{@order.id}" %></h1>
</div>

<div class="order-userinfo">
  <h3><%= "#{@order.user.full_name}"%><br>
  <%= "#{@order.user.email}" %></h3>
</div>


<div id="history">
  <table class="table table-bordered">
    <div class="order-total">
      Order Status: <%= @order.status %></br>
      Order Total: <%= number_to_currency @order.final_total / 100.00 %>
    </div>
  </br>
    <thead>
      <tr>
        <th data-field="project"> Project </th>
        <th data-field="project-location">Location</th>
        <th data-field="project-price">Loan Amount</th>
      </tr>
    </thead>
    <% @order.loans.each do |loan| %>
      <tr>
        <td><%= link_to loan.project.title,
          tenant_project_path(slug: loan.project.tenant.slug, id: loan.project.id) %></td>
        <td><%= loan.project.tenant.location %></td>
        <td><%= number_to_currency loan.amount / 100.00 %></td>
      </tr>
    <% end %>
  </table>
</div>
