<div id="alert">
  <%= flash[:alert] %>
</div>

<h1><%= "Order #{@order.id}" %></h1>
<h3><%= "#{@order.user.full_name}"%><br><%= "#{@order.user.email}" %></h3>

<div id="history">
  <table class='table table-bordered'>
    <thead>
      <tr>
        <th data-field='Order Number'> Project </th>
        <th data-field='Quantity'>Quantity</th>
        <th data-field="Price">Price</th>
        <th data-field='Subtotal'>Subtotal</th>
        <th data-field='Order Status'>Order Status</th>
      </tr>
    </thead>
    <% @order.loans.each do |loan| %>
      <tr>
        <td><%= link_to loan.project.title, tenant_project_path(loan.project) %></td>
        <td><%= loan.quantity %></td>
        <td><%= number_to_currency loan.project.price / 100 %></td>
        <td><%= number_to_currency loan.line_item_cost / 100 %></td>
        <td><%= @order.status %></td>
      </tr>
    <% end %>
  </table>
</div>
