<h1>Order History</h1>

<div id="order_history">
  <table class='table table-bordered'>
    <thead>
      <tr>
        <th data-field='Order Number'> Item </th>
        <th data-field='Quantity'>Quantity</th>
        <th data-field="Price">Price</th>
        <th data-field='Subtotal'>Subtotal</th>
        <th data-field='Order Status'>Order Status</th>
        <th data-field='time'>Submitted At</th>
      </tr>
    </thead>
    <% @order.items.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= 'needs to be fixed' %></td>
        <td><%= item.price %></td>
        <td><%= item.line_item_cost %></td>
        <td><%= @order.status %></td>
        <td><%= @order.created_at %></td>
      </tr>
    <% end %>
  </table>
</div>
