<div id="title">
  <h1>Explore Your Lending Options</h1>

  <div class="row">
  <button class="btn btn-primary">Filter Projects</button> </br>
    <div id="project-filters" class="hidden-filters">
      <p> Categories </p>
      <% @categories.each do |category| %>
        <%= check_box :category, category.name %> <%= category.name %><br/>
      <% end %>
      <br/>

      <p> Location </p>
      <% @locations.eac:h do |location| %>
        <%= check_box :location, location %> <%= location %> </br>
      <% end %>
      </br>

      <p> Price Range </p>
        <%= check_box :price, 0-100 %> <%= "$0 - $100" %> </br>
        <%= check_box :price, 100-500 %> <%= "$100 - $500" %> </br>
        <%= check_box :price, 500 %> <%= "$500+" %> </br>

    </div>

    <% @projects.each do |project| %>
    <div class="box col-lg-3">
      <h4 class="project-title"> <%= link_to("#{project.title}", project_path(id: project.id))%></h4>
      <div class="thumbnail">
        <%= image_tag project.photos.first.image.url %>
      </div>
      <h5 class="project-desc"><%= project.description %></h5>
    </div>
    <% end %>
  </div>
</div>
