<%= will_paginate %>

<div id="title">
  <h1>Donate Today!</h1>

  <%= render 'shared/category_row' %>
  <div class="row">
    <% @projects.each do |project| %>
    <div class="box col-lg-3">
      <h4 class="project-title"> <%= link_to("#{project.title}", project_path(id: project.id))%></h4>
      <div class="thumbnail">
        <%= image_tag project.photos.first.image.url %>
      </div>
      <h5 class="project-desc"><%= project.description %></h5>
    </div>
    <% end %>
  </div>
</div>

<%= will_paginate %>
