<h1>Pending Loans</h1>
<%= render "shared/back_button" %>

<div id="cart_items">
  <table class='table table-bordered'>
    <thead>
      <tr class="warning">
        <th data-field='Organization Name'>Organization Name</th>
        <th data-field='Purpose'>Purpose</th>
        <th data-field='Amount'>Amount</th>
        <th></th>
      </tr>
    </thead>
    <% if @pending_loans.empty? %>
      <tr><td colspan='6'>You Have No Pending Loans</td></tr>
    <% else %>
      <% @pending_loans.each do |item, loan_amount| %>
        <tr id=<%= "item_#{item.id}" %>>
          <td><%= item.tenant.organization %></td>
          <td><%= link_to item.title, item_path(item) %></td>
          <td id=<%= "quantity_#{item.id}" %>><%= loan_amount %></td>
          <td>
            <%= form_for :update_pending_loan_amount, url: update_item_quantity_path do |f| %>
              <%= f.select(:loan_amount) do %>
                <% [["$25", 25], ["$50", 50], ["$100", 100], ["$500", 500]].each do |amount| %>
                  <%= content_tag(:option, amount.first, value: amount.last) %>
                <% end %>
              <% end %>
              <input name="_method" type="hidden" value="put" />
              <%= f.hidden_field :item_id, :value => item.id %>
              <%= f.submit 'Update Amount', class: "btn btn-default btn-update-quantity" %>
            <% end %>

            <%= form_for :cart, url: cart_path do |f| %>
              <input name="_method" type="hidden" value="delete" />
              <%= f.hidden_field :item_id, :value => item.id %>
              <%= f.submit 'Delete', class: "btn btn-default btn-delete-cart-item" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>

  <%= form_for :cart, url: checkout_cart_path do |f| %>
    <%= f.submit 'Checkout', class: 'btn btn-default' %>
  <% end %>

  <%= form_for :cart, url: cart_path do |f| %>
    <input name="_method" type="hidden" value="delete" />
    <%= f.submit 'Empty Cart', class: 'btn btn-default' %>
  <% end %>
</div>
