<h1>Your Cart</h1>
<%= render "shared/back_button" %>

<div id="cart_items">
  <table class='table table-bordered'>
    <thead>
      <tr class="warning">
        <th data-field='Item Name'>Item</th>
        <th data-field='Description'>Description</th>
        <th data-field='Price'>Price</th>
        <th data-field='Quantity'>Quantity</th>
        <th data-field='Subtotal'>Subtotal</th>
        <th></th>
      </tr>
    </thead>
    <% if @cart.nil? %>
      <tr><td colspan='6'>Your Cart Is Empty</td></tr>
    <% else %>
      <% @cart.items.each do |item, quantity| %>
        <tr id=<%= "item_#{item.id}" %>>
          <td><%= link_to item.title, item_path(item) %></td>
          <td><%= item.description %></td>
          <td><%= number_to_currency item.price / 100 %></td>
          <td id=<%= "quantity_#{item.id}" %>><%= quantity %></td>
          <td><%= number_to_currency item.price.to_i * quantity.to_i / 100 %></td>
          <td>

            <%= form_for :update_item_quantity, url: update_item_quantity_path do |f| %>
              <%= f.select 'quantity', options_for_select((1..10)) %>
              <input name="_method" type="hidden" value="put" />
              <%= f.hidden_field :item_id, :value => item.id %>
              <%= f.submit 'Update Quantity', class: "btn btn-default btn-update-quantity" %>
            <% end %>

            <%= form_for :cart, url: cart_path do |f| %>
              <input name="_method" type="hidden" value="delete" />
              <%= f.hidden_field :item_id, :value => item.id %>
              <%= f.submit 'Delete', class: "btn btn-default btn-delete-cart-item" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>

  <%= form_for :cart, url: checkout_cart_path do |f| %>
    <%= f.submit 'Checkout', class: 'btn btn-default' %>
  <% end %>

  <%= form_for :cart, url: cart_path do |f| %>
    <input name="_method" type="hidden" value="delete" />
    <%= f.submit 'Empty Cart', class: 'btn btn-default' %>
  <% end %>
</div>
