<h1>Your Cart</h1>
<div id="cart_items">
  <table class='table table-bordered'>
    <thead>
      <tr>
        <th data-field='Item Name'>Item</th>
        <th data-field='Description'>Description</th>
        <th data-field='Price'>Price</th>
        <th data-field='Quantity'>Quantity</th>
        <th data-field='Subtotal'>Subtotal</th>
      </tr>
    </thead>
    <% if @cart.nil? %>
      <tr><td rowspan='6'>Your Cart Is Empty</td></tr>
    <% else %>
      <% @cart.items.each do |item, quantity| %>
        <tr>
          <td><%= item.title %></td>
          <td><%= item.description %></td>
          <td><%= number_to_currency item.price / 100 %></td>
          <td><%= quantity %></td>
            <td><%= number_to_currency item.price.to_i * quantity.to_i / 100 %></td>
        </tr>
      <% end %>
    <% end %>
  </table>

  <%= form_for @cart do |f| %>

  <% end %>
</div>

<%= link_to('Order History', user_orders_path(current_user)) if current_user %>
