<div id="menu">

<div class="category-row">
  <% @categories.each do |category| %>
  <a class="btn" href="<%= items_path(category_name: category.name) %>">
    <i class="<%= category.image %> fa-3x"><br>
    </i>  <%= category.name %></a>
  <% end %>
</div>


<div class="row">
  <% @items.each do |item| %>
    <div class="box col-lg-3">
      <h4> <%= link_to("#{item.title}", item_path(item))%></h4>
      <img src="http://mydailyjava.com/wp-content/uploads/2010/10/3622331765_d514e02626_m.jpg" alt="coffee" />
      <h5><%= item.description %></h5>
    </div>
  <% end %>
</div>
</div>
