<h1><%= @item.title %></h1>
<%= form_for :cart, url: carts_path do |f| %>
  <%= f.hidden_field :id, value: @item.id %>
  <%= f.select :quantity, options_for_select((1..10)) %>
  <%= f.submit 'Add to Cart' %>
<% end %>
