<div id="title"><h1><%= @item.title %></h1></div>

<img src="http://mydailyjava.com/wp-content/uploads/2010/10/3622331765_d514e02626_m.jpg" alt="coffee" />
<div id="description"><%= @item.description %></div>
<div id="price"><%= number_to_currency @item.price / 100 %></div>

<%= form_for :cart, url: carts_path do |f| %>
  <%= f.hidden_field :item_id, value: @item.id %>
  <%= f.select :quantity, options_for_select((1..10)) %>
  <%= f.submit 'Add to Cart' %>
<% end %>
