<div id="title">
  <h1><%= @category.name %></h1>

  <div class="row">
    <% if @projects.any? %>
      <% @projects.each do |project| %>
      <div class="box col-lg-3">
        <%= link_to("#{project.title}", tenant_project_path(slug: project.tenant.slug, id: project.id))%>
        <div class="thumbnail">
          <%= image_tag project.photos.first.image.url %>
        </div>
        <h5 class="project-desc"><%= project.description %></h5>
        <%= form_for :pending_loan, url: pending_loan_path do |f| %>
          <%= f.hidden_field :project_id, value: project.id %>
          <%= f.hidden_field :loan_amount, value: project.price %>
          <%= f.submit 'Lend', class: "btn btn-default" %>
        <% end %>
      </div>
      <% end %>
    <% else %>
      <div class="box col-lg-3">
        There are no projects for this category
      </div>
    <% end %>
  </div>
</div>
