<!DOCTYPE html>
<html>
<head>
  <title>DinnerDash</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= nav_bar fixed: :top, brand: "Coffee House", responsive: true do %>
  <%= menu_group do %>
  <%= menu_item "Home", root_path %>

  <%= menu_item "Menu" %>
  <%= menu_item "Cart" %>
  <%= menu_item "Admin Dashboard" %>
  <%= menu_item "Login" %>
  <%= menu_item "Signup" %>
  <%= menu_item "Logout" %>
  <% end %>
  <% end %>
<%= yield %>

</body>
</html>
