<!DOCTYPE html>
<html>
<head>
  <title>DinnerDash</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
  <%= nav_bar fixed: :top, brand: "Coffee House", responsive: true do %>
  <%= menu_group do %>
  <%= menu_item "Home", root_path %>
  <%= menu_item "Menu", items_path %>
  <%= menu_item "Cart" %>
  <%= menu_item "Admin Dashboard" %>
  <%= menu_item "Signup" %>
    <% if current_user.nil? %>
      <%= menu_item do %>
        <%= form_for :session, url: login_path, :html => {class: 'navbar-form pull-right'} do |f| %>
          <%= f.text_field :username, :placeholder => 'username' %>
          <%= f.password_field :password, :placeholder => 'password' %>
          <%= f.submit 'Login' %>
        <% end %>
      <% end %>
    <% else %>
      <%= menu_item "Welcome, #{current_user.username}" %>
      <%= menu_item "Logout", logout_path, method: :delete %>
    <% end %>
  <% end %>
  <% end %>
  </div>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

<%= yield %>

</body>
</html>
