<!DOCTYPE html>
<html>
<head>
  <title>Keevahh</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="main-body container">
    <%= render "layouts/nav_bar" %>
    <% if pending_loans.present? %>
      <div id="help-someone" class="alert alert-success">Help someone today and <div id="complete-loan"> <%= link_to "complete your loan.", pending_loan_path %></div></div>
    <% end %>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash-#{name}" %>
    <% end %>

		<%= yield %>
	</div>
  <%= render "layouts/footer_bar" %>
</body>
</html>
